@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar-track {
  background: #e9ecef; // text-disable
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #adb5bd; // primary-dark
  border-radius: 10px;
}
